#anchor{
    -fx-background-image: url("../../img/carte.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-text-fill:white;
}
#REDRessourcesText,#YELLOWRessourcesText,#BLUERessourcesText,#GREENRessourcesText{
    -fx-font-family: "Comic Sans MS";
    -fx-text-alignment: left;
    -fx-font-size: 20px;
}
#goldRED,#goldBLUE,#goldYELLOW,#goldGREEN,#workersRED,#workersBLUE,#workersYELLOW,#workersGREEN,
#lWorkerRED,#lWorkerBLUE,#lWorkerYELLOW,#lWorkerGREEN,#masterRED,#masterBLUE,#masterYELLOW,#masterGREEN{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15px;
}